 <div class="card-point-wt-passetille">
    <div class="passetille">
      <div class="passetille-content">
        <span>1</span>
      </div>
    </div>
    <div class="point-general-container">
      <div class="card-point">
        <h3>Symptôme courant</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat culpa ipsam est facere cum atque incidunt, magni eius error eligendi in illum architecto inventore reprehenderit dolores praesentium nam, ut perspiciatis!xxzzz.Rentres un symptôme et tu trouveras une liste des techniques naturelles pour te soulager.</p>
      </div>
      <div class="button button-save-point">
        <a href="#">Enregistrer cette liste</a>
      </div>
    </div>
</div>
