<div class="button-search">
  <a href="#">Rechercher</a>
  <div class="button button-save">
    <a href="#">Enregistrer cette liste</a>
  </div>
  <div class="description">
    <div class="icon-add">
      <i class="fa-solid fa-comment-dots"></i>
      <h3>Description</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores perferendis ad aut voluptate. Cum similique, porro laborum expedita inventore nisi possimus, error distinctio, cupiditate alias tempora! Incidunt esse ab reprehenderit?</p>
</div>
