<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <div class="navbar">
        <svg width="390" height="200" viewBox="0 0 390 136" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M126.734 37C141.212 37 149.949 25.5682 159.828 14.9841C167.859 6.37958 182.301 0 195 0C207.699 0 221.141 6.37958 229.172 14.9841C239.051 25.5682 248.788 37 263.266 37H390V135.5H0L0 37H126.734Z" class="svg-background" />
        </svg>
        <ul class="icon-list">
          <div class="first">
            <li><i class="fa-solid fa-house fa-lg"></i></li>
            <li><i class="fa-regular fa-bookmark fa-lg"></i></li>
            </div>
          <div class="circle">
            <li><i class="fa-solid fa-magnifying-glass fa-5x"></i></li>
          </div>
          <div class="second">
            <li><i class="fa-solid fa-user fa-lg"></i></li>
            <li><i class="fa-solid fa-location-dot fa-lg"></i></i></li>
          </div>
        </ul>
      </div>
  </div>
</div>
