
a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  outline: none;
}


.button-search {
  padding: 12px 16px;
  background: #65C18C;
  width: 35vw;
  text-align: center;
  // margin-left: 10px;
  border-radius: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

.button-save-essential-oil {
  padding: 12px 16px;
  background: #65C18C;
  width: 223px;
  text-align: center;
  // margin-left: 10px;
  border-radius: 10px;

}

.button-save-acupoint {
  padding: 12px 16px;
  background: #65C18C;
  width: 312px;
  text-align: center;
  // margin-left: 10px;
  border-radius: 20px;
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 10px
}
