.form-input {
  width: 80%;
}

input {
  padding-left: 15px;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  background-color: #C8E9D6;
  font-size: 1rem;
  border-radius: 20px;
  width: 100%;
  border: none;
  color: black;
  font-weight: 200;
  outline: none;
}
