.logo-mediless {
  border: 1px solid #BFBFBF;
  width: 350px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  margin: 0 auto;
}

#split {
  color: #65C18C;
}

.logo-mediless h1 {
  margin: 0;
  font-size: 60px;
}
