@import "components/navbar.css";
@import "components/passetille.css";
@import "components/logo-mediless.css";
@import "components/card-point.css";
@import "components/button.css";
@import "components/background.css";
@import "components/card-essential-oil.css";
@import "components/huiles-essentielles.css";
@import "components/form-input.css";
@import "components/card-menthe-poivree.css";
@import "components/descrption.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.container {
  height: 100vh;
  /* margin: 0 15px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

html {
  background-color: gray;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body p {
  color: black;
  font-size: 1rem;
}

body h1 {
  color: black;
  font-size: 2rem;
}

body h2 {
  color: black;
  font-size: 1,5rem;

}

body h3 {
  color: black;
  font-size: 1,25rem;
}

.element {
  /* margin-bottom: 30px; */
}

.components {
  width: 96vw;
  margin: 0 auto;
}
